@font-face {
    font-family: "Balto";
    src: url("../fonts/baltotrial-black.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Balto";
    src: url("../fonts/baltotrial-thin.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "Balto";
    src: url("../fonts/baltotrial-medium.otf");
}

html, body {
    color: #111;
    font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6 {
    @apply uppercase;
    font-weight: bold !important;
}

.menu-shadow{
    filter: drop-shadow(-10px 0px 25px #ffff05);
}

#drift-frame-controller{
    z-index: 2147483639 !important;
}
#app{
    z-index: 2147483640;
}
#drift-video-extension-root,
#drift-video-extension-share-modal{
    z-index: 2147483642 !important;
}